# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Large datasets
*.csv
*.xlsx
*.zip

# Trained models
*.pkl
*.joblib
*.h5
*.keras

# Allow required models for Streamlit deployment
!models/emi_eligibility_model.pkl
!models/max_emi_model.pkl
!models/X_test.pkl
